express/class 01/.env
express/class02/.env
express/class03/.env
node/class 01/.env
node/class 02/.env
node/class03/.env
node/class 04/.env
node/class 04 b/.env
node/class 05/.env


express/class 01/node_modules
express/class02/node_modules
express/class02/node_modules
express/class03/node_modules
node/class 01/node_modules
node/class 02/node_modules
node/class03/node_modules
node/class 04/node_modules
node/class 04 b/node_modules
node/class 05/node_modules