/class 01/node_modules
/class 02/node_modules 
/class03/node_modules 
/class 04/node_modules 
/class 04 b/node_modules 
/class 05/node_modules 


/class 01/.env
/class 02/.env 
/class03/.env 
/class 04/.env 
/class 04 b/.env 
/class 05/.env 
